@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = Model.TitleChange;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TitleChange</h2>

@using (Html.BeginForm("Save", "Movies", FormMethod.Post, new { @id = "submit-form" }))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")   

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NumberOfStock)
        @Html.TextBoxFor(m => m.NumberOfStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NumberOfStock)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GenreTypeId)
        @Html.DropDownListFor(m => m.GenreTypeId,
                              new SelectList(Model.GenreTypes, "Id", "Name"),
                              "Select Genre Type", new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.GenreTypeId)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function (event) {
            var span = $('.field-validation-error').html();

            if (span === undefined) {
                $("#Title").focus();

                $("#Title").keydown(function (e) {
                    var spanValue = $(this).next().html();

                    if (e.keyCode == 13) {
                        if (spanValue === undefined || $(this).val() !== "") {
                            $("#ReleaseDate").focus()
                        };

                        e.preventDefault();
                    }

                });

                $("#ReleaseDate").keydown(function (e) {
                    var spanValue = $(this).next().html();
                    var thisValue = $(this).val()
                    var parsedThisValue = Date.parse(thisValue);

                    if (e.keyCode == 13) {
                        if (spanValue !== "")
                        {
                            e.preventDefault();
                        } else if (!parsedThisValue) {
                            e.preventDefault();
                        } else if ( $.isNumeric(thisValue) ) {
                            e.preventDefault()
                        }
                        else {
                            $("#NumberOfStock").focus()
                            e.preventDefault()
                        }
                    }

                });

                $("#NumberOfStock").keydown(function (e) {
                    var spanValue = $(this).next().html();

                    if (e.keyCode == 13) {
                        if (spanValue === undefined || $(this).val() !== "") {
                            $("#GenreTypeId").focus()
                        } else {
                            e.preventDefault();
                        };
                    }
                });

                $("#GenreTypeId").keydown(function (e) {
                    var spanValue = $(this).next().html();

                    if (e.keyCode == 13) {
                        if (spanValue === undefined || $(this).val() != "") {
                            $(".btn-primary").focus()
                            e.preventDefault();
                        }
                    }
                });
            }
        });
    </script>
}

