@model Vidly.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ValidationSummary()
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Title)
        @Html.TextBoxFor(m => m.Movie.Title, new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.Movie.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberOfStock, "Number of stock")
        @Html.TextBoxFor(m => m.Movie.NumberOfStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.NumberOfStock)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreTypeId)
        @Html.DropDownListFor(m => m.Movie.GenreTypeId,
                              new SelectList(Model.GenreTypes, "Id", "Name"),
                              "Select Genre Type", new { @class="form-control"})
        @Html.ValidationMessageFor(m => m.Movie.GenreTypeId)
    </div>
    @Html.HiddenFor(m => m.Movie.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

